.searchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  background-color: var(--dark-green);
  /* min-width: 33.2px; */
  height: 33.2px;

  padding-inline: 0.5rem;

  border-radius: 0.4rem;
  color: white;
  transition: all 0.2s;
}

.searchButton:hover {
  cursor: pointer;
  background-color: var(--light-green);
}