.topRowRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-inline: 0.5rem;
    padding-bottom: 1rem;
    column-gap: 1rem;

    border-bottom: 2px solid rgb(217, 217, 217, 0.5);
}


.doctorsList {
    flex: 1;
    overflow-y: auto;
    padding-inline: 0.5rem;
    margin-bottom: 1rem;
    row-gap: 1.1rem;

    padding-inline: 2.5rem;
    width: calc(100% + 5rem);
    margin-left: -2.5rem;
    margin-bottom: 1rem;
}

.doctorsList::-webkit-scrollbar {
    width: 6px;
}

.doctorsList::-webkit-scrollbar-track {
    background: rgba(217, 217, 217, 1);
    border-radius: 6px;
}

.doctorsList::-webkit-scrollbar-thumb {
    background: var(--light-green-7);
    border-radius: 6px;

    transition: background 0.3s ease-in-out;
}

.doctorsList::-webkit-scrollbar-thumb:hover {
    background: var(--light-green);
    transition: background 0.3s ease-in-out;

}

.dropdown {
    width: 13rem !important;
}

.checkoutBtn {
    /*  w-[14rem] h-[2.5rem] flex flex-row items-center justify-between rounded-full border border-solid darkGreenText text-sm */
    width: 14rem;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 999px;
    border: 1px solid var(--dark-green);
    color: var(--dark-green);
    font-size: 0.9rem;
    letter-spacing: 0.07rem;
}

/* on hover, background daark green, text white */
.checkoutBtn:hover {
    background-color: var(--dark-green);
    color: white !important;
    transition: all 0.3s ease-in-out;

    /* p */
    p {
        color: white;
        transition: all 0.3s ease-in-out;
    }
}
