.mainViewContainer {
  width: 100%;
  height: 100%;
  padding-inline: 2.5rem;
}
.sideBar {
  padding-top: 3rem;
}

.sideBar li {
  user-select: none;
  transition: all 0.2s ease-in-out;
}

.sideBar li:hover {
  cursor: pointer;
}

.activeLink {
  color: blue;
}

hr {
  width: 100%;
  height: 0.15rem;
  margin-block: 1rem;
  background-color: black;
}
