h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #fff
}

.background {
  background-color: var(--dark-green);
}

.greenText {
  color: var(--el7a2ni---light-green, #8AC186);
  text-align: center;
  font-family: Century Gothic, sans-serif;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}

.loginBtn {
  padding-block: 0.5rem;
  background-color: var(--light-green);
  border-radius: 0.3rem;

  /* Glow around */
  filter: drop-shadow(0px 6px 20px rgba(138, 193, 134, 0.25));
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-block: 4rem;
  opacity: 0.4;
}