.sideBar {
  height: 100%;
  position: fixed;
  padding-top: 3rem;
  width: var(--sidebar-width);
  padding-inline: 2rem;
  background-color: var(--dark-green);
  color: white;
}

.sideBar li {
  user-select: none;
}

.linkContainer {
  font-size: 1.25rem;
  width: 14.0625rem;
  margin-block: 0.75rem;
  padding-inline: 1rem;
  padding-block: 0.75rem;
  border-radius: 0.625rem;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.linkContainer .icon {
  margin-inline-end: 1rem;
}

.linkContainer:hover {
  cursor: pointer;
}

.nonActiveLink:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.activeLink {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--light-green);
}

.activeLink .icon {
  /* blur the icon */
  filter: blur(0.125rem);
}

/* .activeLink .linkName {
  animation: shift 0.2s ease-in-out 0.2s forwards;
} */

@keyframes shift {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.5rem);
  }
}
.linkContainer::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: calc(-100% - 2.5rem);
  border-radius: 0.5rem;
  background-color: var(--light-green);
  transition: all 0.3s ease-in-out;
}

.linkContainer:has(.isActive)::before {
  left: calc(-100% - 1.6rem);
}
