@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-green: #8AC186;
  --dark-green: #163B45;
  --blue: #86BEC2;
}

#root {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Cabin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color: black !important; */
}

code {
  font-family: 'Cabin', sans-serif,
    monospace;
}

.myfont-xl {
  font-size: 2.5rem;
}

.greenText {
  font-family: "Century Gothic", sans-serif;
  color: var(--el7a2ni---light-green, #8AC186)
}

.ant-select-selector {
  border-color: transparent !important;
}

input:-internal-autofill-selected {
  background-color: rgba(255, 255, 255, 0.03) !important;
}

/* src/assets/fonts/yourfont.ttf */

@font-face {
  font-family: 'Century Gothic';
  src: url('assets/fonts/CenturyGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('assets/fonts/gothicb.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
