@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-green: #8ac186;
  --dark-green: #163b45;
  --blue: #86bec2;
  --bg-main: #f1f1f1;
  --sidebar-width: 21rem;
}

#root {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Cabin", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-main);
  color: var(--dark-green);
}

code {
  font-family: "Cabin", sans-serif, monospace;
}

.myfont-xl {
  font-size: 2.5rem;
}

.greenText {
  font-family: "Century Gothic", sans-serif;
  color: var(--el7a2ni---light-green, #8ac186);
}

.centuryGothic {
  font-family: "Century Gothic", sans-serif;
}

.ant-select-selector {
  border-color: transparent !important;
}

input:-internal-autofill-selected {
  background-color: rgba(255, 255, 255, 0.03) !important;
}

.lightInputField {
}

/* src/assets/fonts/yourfont.ttf */

@font-face {
  font-family: "Century Gothic";
  src: url("assets/fonts/CenturyGothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Century Gothic";
  src: url("assets/fonts/gothicb.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
